#driver,
#beam,
#sorter,
#gun {
    width: 350px;
}

#spring-linkage {
    width: 250px;
}

#spring-launcher,
#wheel-launcher,
#cv {
    width: 450px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 60vw;
}

.cab{
    height: 5vh;
}

.video .game{
    text-align: center;
}

.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
}

